* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #445964;
}

li {
  text-decoration: none;
}

.btn {
  background-color: #445964;
}

.gray {
  background-color: gray;
}

.font-purple {
  color: var(--bs-purple);
}

.portrait {
  width: 183px;
  height: 207px;
}

.custom-fw {
  font-weight: 900;
  color: #445964;
}

.custom-about-h1 {
  font-size: 64px;
  font-weight: 900;
  color: #445964;
}

.empty-box {
  height: 120px;
}

#project .project-description {
  font-weight: 500;
  font-size: 24px;
  color: #445964;
}

.badge-bootstrap {
  background-color: #6710f2da;
}

.skills-icon {
  font-size: 100px;
}

.contact-button {
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.contact-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button i {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }

 button:hover .btn-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }

 button:hover i {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }

 button:hover span {
  transform: translateX(5em);
 }
 
 button:active {
  transform: scale(0.95);
 }

 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }